<div class="chat-container">

  <header class="chat-header">
    <h1> <a href="/"> <i class="fab fa-slack"></i>  Slack Clone </a></h1>

    <span><i class="fas fa-user"></i>
      <%= user.name %>
    </span>
    <input type="text" value="<%= user.name %>" id="userName" hidden>

    <a href="/users/logout" id="leave-btn" class="btn">Leave Slack</a>
  </header>

  <main class="chat-main">
  
    <div class="chat-sidebar">
      <h2><i class="fas fa-comments"></i> Channels</h2>
      
      <h3 id="room-name"> 
          # <%= room.name %>
      <input type="text" value="<%= room.id %>" id="roomId" hidden>
      </a></h3>
      <button class="btn"> <a href="/chat/dashboard"> <i class="fas fa-arrow-left"></i> Go back to all rooms </a></button>
   

      <h2><i class="fas fa-users"></i> Users</h2>
      <ul id="users"></ul>
      </div>

      <div class="chat-messages"> 
        <% for(let msg of room.messages) { %>
        <div class="message"><p class="meta"><%= msg.author.name %> <span><%= moment(msg.date).format('h:mm a') %></span></p>
        <p class="text">
          <%- msg.message %>
        </p>
        </div>
      <% } %>
      </div>
      
      </main>
      
      <div class="chat-form-container">
        <form id="chat-form">
          <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>

        <form id="form-upload" action="">
          <input class="btn" type="file" name="uploaded_file" id="fileinput" />
          <button class="btn"> <i class="fas fa-upload"></i> Upload </button>
        </form>

      </div>
      
      </div>